.App-header {
    background-color: #1cac75;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(149, 247, 21);
  }
  .App-content {
    background-color: #1c3eac;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(149, 247, 21);
  }
  .App-footer {
    background-color: #1cac75;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(149, 247, 21);
  }
  