body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 24px;
    border-bottom: 10px solid rgb(255, 255, 255);
    background-color: steelblue;
    color: white;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left,
  .navbar-right  {
    width: 360px;
    height: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  span {
    position: relative;
    z-index: 3;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    align-items: center;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 6px;
    font-size: 20px;
    margin-right: 30px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
   width: 120px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  }
  .navbar-left ul li a ::before,
  .navbar-right ul li a ::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    transition: all 0.rgb(255, 255, 255)-in-out;
    transform: scaleY(1);
  }
  .navbar-left ul li a :hover::before,
  .navbar-right ul li a :hover::before{
    transform: scaleY(0);
  }
  .navbar-left ul li a :hover::after,
  .navbar-right ul li a :hover::after {
    transform: scaleX(0);
  }
  @media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
  }
  